body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, blueviolet,lightgreen);
}

.container {
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
}

.sensor-data, .crop-recommendation {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 20px;
}

.crop-recommendation {
  background-color: #f9f9f9;
}